*{
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
}
.close-modal{
  background-color: red;
  border: none;
  width: 50px;
  font-size: 2rem;
  margin-top: -30px;
  margin-left: 90%;
}
.close-modal:hover{
  background-color: rgb(187, 11, 11);
  
}